@media (min-width: 1200px) {
    #main,
    #footer {
        margin-left: 300px;
    }
}

#main {
    margin-top: 60px;
    padding: 20px 30px;
    transition: all 0.3s;
}

.footer {
    padding: 20px 0;
    font-size: 14px;
    transition: all 0.3s;
    border-top: 1px solid #cddfff;
}