//Arquivo de scss global
@media (min-width: 1200px) {
    #main.content-page,
    #footer {
        margin-left: 250px;
    }
}

#main.content-page {
    margin-top: 70px;
    padding: 20px 20px;
    transition: all 0.3s;
}